@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 16px 160px 16px;
  pointer-events: none;
}

/* .main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
} */

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.stat-rank-1 {
  background-color: #e12c2c;
  
  
}

.stat-rank-2 {
  background: linear-gradient(90deg, hsla(0, 75%, 53%, 1) 40%, hsla(38, 100%, 50%, 1) 60%);

}

.stat-rank-3 {
  background: linear-gradient(90deg, hsla(38, 100%, 50%, 1) 10%, rgb(255, 222, 5) 50%);
}

.stat-rank-4 {
  background: linear-gradient(90deg, hsla(52, 99%, 62%, 1) 10%, rgb(151, 235, 16) 50%);
  
}

.stat-rank-5 {
  background: linear-gradient(90deg, hsla(83, 88%, 52%, 1) 10%, hsla(147, 100%, 35%, 1) 80%);
  border: #4D90D5;
  
}

.stat-rank-6 {

  background: linear-gradient(90deg, hsla(147, 100%, 35%, 1) 10%, hsla(182, 52%, 50%, 1) 50%);


}



.type-dragon {
  background-image: linear-gradient(to bottom, #1a73c0 50%, #ca3945 50%);
}

.type-flying {
  background-color: #8FA9DF;
}

.type-normal {
  background-color: #929AA2;
}

.type-steel {
  background-color: #598EA2;
}

.type-water {
  background-color: #4D90D5;
}

.type-bug {
  background-color: #91C029;
}

.type-electric {
  background-color: #F4D339;
}

.type-ghost {
  background-color: #5169AE;
}

.type-fire {
  background-color: #FE9C52;
}

.type-fairy {
  background-color: #EB90E7;
}

.type-ice {
  background-color: #74CFC0;
}

.type-fighting {
  background-color: #CE3E6A;
}

.type-grass {
  background-color: #62BC5A;
}

.type-psychic {
  background-color: #F97279;
}

.type-rock {
  background-color: #C6B88C;
}

.type-dark {
  background-color: #5A5265;
}

.type-ground {
  background-color: #D87941;
}

.type-poison {
  background-color: #A96AC9;
}

.type-fx-100 {
  background-color: rgb(209, 214, 214);
}

.type-fx-100 {
  background-color: rgb(231, 231, 231);
  color: rgb(59, 59, 59);
}



/* Estilos pokeCard */
.pokemon-card {
  height: 34rem;
  width: 21rem;
  border-width: medium;
  background-color: transparent;
  padding-top: 1rem/* 16px */;
  padding-bottom: 1rem/* 16px */;
}

.water-card {
  border-color: hsla(216, 100%, 50%, 1)
}

.dragon-card {
  border-color: hsla(216, 100%, 35%, 1)
}

.steel-card {
  border-color: hsla(196, 29%, 49%, 1)
}

.bug-card {
  border-color: hsla(79, 65%, 46%, 1)
}

.electric-card {
  border-color: hsla(49, 89%, 59%, 1)
}

.ghost-card {
  border-color: hsla(225, 36%, 50%, 1)
}

.fire-card {
  border-color: hsla(26, 99%, 66%, 1)
}

.fairy-card {
  border-color: hsla(303, 69%, 74%, 1)
}

.ice-card {
  border-color: hsla(173, 59%, 57%, 1);
}

.fighting-card {
  border-color: hsla(342, 60%, 53%, 1);
}

.normal-card {
  border-color: hsla(210, 8%, 60%, 1)
}

.grass-card {
  border-color: hsla(115, 42%, 55%, 1)
}

.psychic-card {
  border-color: hsla(357, 92%, 71%, 1);
}

.rock-card {
  border-color: hsla(46, 34%, 66%, 1)
}

.dark-card {
  border-color: hsla(265, 10%, 36%, 1);
}

.ground-card {
  border-color: hsla(22, 66%, 55%, 1)
}

.poison-card {
  border-color: hsla(280, 47%, 60%, 1);
}

.flying-card {
  border-color: hsla(221, 56%, 72%, 1);
}

/* Estilos card divider */
.card-divider {
  margin-top: 0.25rem/* 4px */;
  margin-bottom: 0.25rem/* 4px */;
  width: 60%;
  height: 4px;
  border-radius: 1cm;
}

.water-divider {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(216, 100%, 50%, 1) 50%);
}

.dragon-divider {
  background: linear-gradient(90deg, hsla(355, 57%, 50%, 1) 0%, hsla(216, 100%, 35%, 1) 100%);
}

.steel-divider {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 1%, hsla(196, 29%, 49%, 1) 100%);
}

.bug-divider {
  background: linear-gradient(90deg, hsla(58, 100%, 60%, 1) 1%, hsla(79, 65%, 46%, 1) 100%);

}

.electric-divider {
  background: linear-gradient(90deg, hsla(2, 72%, 66%, 1) 0%, hsla(49, 89%, 59%, 1) 99%);

}

.ghost-divider {
  background: linear-gradient(90deg, hsla(45, 61%, 63%, 1) 2%, hsla(225, 36%, 50%, 1) 80%);
}

.fire-divider {
  background: linear-gradient(90deg, hsla(52, 100%, 79%, 1) 2%, hsla(26, 99%, 66%, 1) 100%);
}

.fairy-divider {
  background: linear-gradient(90deg, hsla(45, 100%, 99%, 1) 0%, hsla(303, 69%, 74%, 1) 100%);
}

.ice-divider {
  background: linear-gradient(90deg, hsla(45, 100%, 99%, 1) 0%, hsla(173, 59%, 57%, 1) 100%);
}

.fighting-divider {
  background: linear-gradient(90deg, hsla(211, 51%, 57%, 1) 0%, hsla(342, 60%, 53%, 1) 54%);
}

.normal-divider {
  background: linear-gradient(90deg, hsla(0, 0%, 98%, 1) 0%, hsla(210, 8%, 60%, 1) 74%);
}

.grass-divider {
  background: linear-gradient(90deg, hsla(0, 12%, 40%, 1) 0%, hsla(115, 42%, 55%, 1) 94%);}

.psychic-divider {
  background: linear-gradient(90deg, hsla(299, 50%, 54%, 1) 2%, hsla(357, 92%, 71%, 1) 87%);
}

.rock-divider {
  background: linear-gradient(90deg, hsla(0, 0%, 61%, 1) 12%, hsla(46, 34%, 66%, 1) 82%);
}

.dark-divider {
  background: linear-gradient(90deg, hsla(0, 68%, 44%, 1) 12%, hsla(265, 10%, 36%, 1) 89%);

}

.ground-divider {
  background: linear-gradient(90deg, hsla(42, 100%, 55%, 1) 12%, hsla(22, 66%, 55%, 1) 77%);
}

.poison-divider {
  background: linear-gradient(90deg, hsla(57, 100%, 55%, 1) 1%, hsla(280, 47%, 60%, 1) 64%);
}

.flying-divider {
  background: linear-gradient(90deg, hsla(0, 0%, 77%, 1) 1%, hsla(221, 56%, 72%, 1) 69%);

}


  


/* Estilos chip */
.card-chip {
  margin-top: auto;
  color: black
}

/* dragon, agua, psíquico, volador, hielo */
.white-chip {
  background-color: #ebebeb ;
  color: black
}
/* eléctrico, fantasma, fuego, planta, siniestro */
.red-chip {
  background-color: #bd2e3a ;
  color: white
}

/* bicho, veneno */
.yellow-chip {
  background-color: #FDE208 ;
  color: black
}

/* hada, tierra */
.cyan-chip {
  background-color: #86CFF3;
  color: black;
}

/* lucha, normal, roca */
.brown-chip {
  background-color: #725A5A;
  color: white
}

/* acero */
.gray-chip {
  background-color: #acacac;
  color: black;
}

.dragon-chip {
  background-color: #6F59D9;
  color: white
}

.blood-chip {
  background-color: #80243E  ;
  color: white;
}






.type-fx-50 {
  background-color: brown;
  color: #ffdd57; 
}

.type-fx-25 {
  background-color: rgb(114, 27, 27);
  color: #ffdd57; 
}

.type-fx-0 {
  background-color: rgb(53, 49, 49);
  color: #ffdd57; 
}

.type-fx-200 {
  background-color: #417a3b;
  color: #ffdd57; 
}

.type-fx-400 {
  background-color: #5da557;
  color: #ffdd57; 
}


.type-fx-cell {
  
  font-size: .900rem;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  width: 33px;
  border-radius: 3px;
  font-weight: 600;
}

.text-6xl::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(180deg, transparent, transparent, rgba(0, 0, 0, 0.2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.background-sphere {
  position: relative;
  width: 200px; /* Ajusta el tamaño de la esfera */
  height: 200px; /* Ajusta el tamaño de la esfera */
  border-radius: 50%;
  background: radial-gradient(circle, #FFC107, #E91E63); /* Cambia los colores radiantes */
  filter: blur(10px); /* Agrega el efecto de desenfoque */
}

.background-sphere::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: radial-gradient(circle, transparent, rgba(255, 255, 255, 0.2));
  border-radius: 50%;
  filter: blur(15px);
}


.type-icon-cell {
  margin-right: 10px; /* Ajusta el valor según tus necesidades */
}


.type-icon {
  display: inline-block;
  width: 66px;
  margin-bottom: 4px;
  margin-right: 2px;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(14, 13, 13, 0.932);
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  text-transform: uppercase;
  transition: opacity .4s;
}